* {
  margin: 0;
  padding: 0;
  box-sizing:border-box;
}

html {
  background: #457fca;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #4397e5, #226ed0);  /* Chrome 10-25, Safari 5.1-6  */
  background: linear-gradient(to top, #4397e5, #226ed0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  /* height: 100%; */
  font-family: 'Lato', sans-serif;
  color: white;
  scroll-behavior: smooth;
}

header {
  position: sticky;
  top: 0px; 
  padding: 0.5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  background-color: #226ed0;
  border-bottom: 0.2px solid #ffffff;
  z-index: 100; 
}

.menu ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
/* ul li {
  display: inline-block;
  font-weight: 400;
} */

li {
  display: inline-block;  
  margin: 1rem 1.5rem;
}

li a {
  position: relative;
  padding-bottom: 5px;
  color: #ffffff;
  text-decoration: none;
}

li a:hover {
  color: lightblue;
}

li a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #ffffff;
  transform: scaleX(1.2);
  transition: transform 0.2s ease-in-out;
}

li a:hover::after {
  transform: scaleX(0);
}

.logo {
  text-align: center;
  font-size: 1.2rem;
  font-weight: 600;
  text-decoration: none;
}

.logo:visited {
  color: white;
}

.webDeveloper {
  font-size: 1.0rem;
  color: lightblue;
  font-style:italic
}

h2 {
  font-family: 'Bakbak One', cursive;
  text-align: center;
  padding: 2rem 0 ;

}
#aboutMe {
  display: flex;
  margin: auto;
  width: 70%;
  align-items: center;
  justify-content: center;
}

.aboutMe-1 {
  flex-basis: 30%;
  flex-shrink: 0;
  max-width: 200px
}

.aboutMe-2 {
  flex-basis: 70%;
  flex-shrink: 1;
  padding: 5rem;
  max-width: 600px;
}

.aboutMe-2 p {
  padding: 0.7rem 0;
  line-height: 21px;
}

.retrato {
  width: 100%;
}

#skills {
  background-color: #226ed0;
}

.leng_program {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  flex-basis: 70%;
  max-width: 800px;
  justify-content: center;
  align-items: center;
}

.lenguajes {
  padding: 10px 20px;
  text-align: center;
  font-family: 'Bakbak One', cursive;
  font-size: 1.2rem;
  font-weight: 200;
}

.lenguajes {
  /* box-shadow: #ffffff 2px 2px 5px; */
  padding: 12px;
  filter: drop-shadow(2px 2px 4px rgba(68, 67, 67, 0.6));
  
}

.lenguajes:hover {
  /* box-shadow: #78c6f4 2px 2px 5px; */
  filter: drop-shadow(2px 2px 4px rgba(255, 255, 255, 0.6));
}